<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Assignment name</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Your submission status</th>
      </tr>
    </thead>
    <tbody>
      <%- current_user.cohorts.each do |c| %>
				<%- c.assignments.each do |a| %>
					<tr>
						<td><%= link_to a.assignment_name, a %></td>
						<td><%= a.description %></td>
						<%- if a.due_date != nil %>
							<td><%= a.due_date.strftime("%b %d, %Y") %></td>
						<%- else %>
							<td>No record</td>
						<%- end %>
						<%- if cannot? :edit, Assignment %>
							<%- if Submission.where(assignment_id: a.id).where(user_id: current_user.id).first != nil %>
								<td><%= link_to "#{@submission.status} on #{@submission.updated_at.strftime("%a (%b %d)")} at #{@submission.updated_at.strftime("%l:%M %p")}", @submission %></td>
							<%- else %>
								<td>Make a submission! <%= button_to new_submission_path</td>
							<%- end %>
						<%- else %>
							<%- @submissions = Submission.where(assignment_id: a.id) %>
								<td>Submissions: <%= @submissions.count %></td>
							<%- if @submissions == nil %>
								<%= button_to "Delete assignment", delete_assignment_path, a, method: :delete %>
						<%- end %>
				<%- end %>
			<%- end %>
    </tbody>
  </table>
</div>