- require 'bootstrap-sass'

.container
	%table.table.table-hover
		%thead
			%tr
				%th= "Assignment name"
				%th= "Description"
				%th= "Due Date"
				- if cannot? :edit, Assignment
					%th= "Your submission status"
		%tbody
			= render partial: 'assignment_body'
						


- if can? :create, Assignment
	- if @cohort != nil
		= form_for Assignment.new do |f| # make this not Assignment.new but auto linking to main cohort with hidden field :cohort_id that has value: @cohort.id (use text field first to see what cohort id comes up)
			= f.hidden_field :cohort_id, value: @cohort.id
			= f.label :assignment_name
			= f.text_field :assignment_name
			%br
			= f.label :description
			= f.text_area :description
			%br
			= f.label :due_date
			= f.date_select :due_date
			.actions
				.form-group
					= f.submit


- if cannot? :read, Assignment
	= link_to "Register now!", new_user_registration_path
%br
- if cannot? :read, Assignment
	= link_to "Sign in", new_user_session_path
%br
- if can? :read, Assignment
	= link_to "Sign out", destroy_user_session_path, method: :delete