%h1 
	= @assignment.assignment_name

%h3 
	= @assignment.description
%br
%h3 
	- if @assignment.due_date != nil
		= @assignment.due_date.strftime("%b %d, %Y")

- if can? :create, Submission
	- if @submission.first == nil
		= form_for Submission.new do |s|
			= s.hidden_field :user_id, value: current_user.id
			= s.hidden_field :assignment_id, value: @assignment.id
			= s.label :github_link
			= s.text_field :github_link
			%br
			= s.submit
	- else
		= link_to "Submitted on #{@submission.first.created_at.strftime("%a (%b %d)")} at #{@submission.first.created_at.strftime("%l:%M %p")}", submission_path(@submission.first)
- elsif can? :update, @assignment
	%h3 Submissions:
	- Submission.where(assignment_id: @assignment.id).each do |s|
		%ol
			= link_to "#{User.find(s.user_id).email} on #{s.created_at.strftime("%a (%b %d)")} at #{s.created_at.strftime("%l:%M %p")}", submission_path(s)
		%br

- if can? :update, @assignment
	= link_to "Update assignment", edit_assignment_path(@assignment)

- if can? :destroy, @assignment
	- if Submission.where(assignment_id: @assignment.id).count == 0
		= link_to "Delete assignment", assignment_path(@assignment), method: :delete