%h1 
	= @assignment.assignment_name

%h3 
	= @assignment.description
%br
%h3 
	- if @assignment.due_date != nil
		= @assignment.due_date.strftime("%b %d, %Y")

- if can? :create, Submission
	- if Submission.where(user_id: current_user.id, assignment_id: @assignment.id).first == nil
		= form_for Submission.new do |s|
			= s.hidden_field :user_id, value: current_user.id
			= s.hidden_field :assignment_id, value: @assignment.id
			= s.label :github_link
			= s.text_field :github_link
			%br
			= s.submit
	- else
		= link_to "Edit homework submission", edit_submission_path(Submission.where(user_id: current_user.id, assignment_id: @assignment.id).first)

- if can? :update, @assignment
	= link_to "Update assignment", edit_assignment_path(@assignment)

- if can? :destroy, @assignment
	= link_to "Delete assignment", assignment_path(@assignment), method: :delete