.container
	.col-md-5
		%table.table
			%thead
				%tr
					%th= Assignment.find(@submission.assignment_id).assignment_name.humanize
			%tbody
				%tr
					%td
						-if @submission.github_link != nil
							%a{href: "#{@submission.github_link}"}Github link
						-else
							%b Github link not submitted!
				%tr	
					%td
						-if @submission.heroku_link != nil
							%a{href: "#{@submission.heroku_link}"}Heroku link
						-else
							%b Heroku link not submitted!
				%tr
					%td= "Submit time: #{@submission.created_at.strftime("%a (%b %d)")} at #{@submission.created_at.strftime("%l:%M %p")}"
				%tr
					%td= "Current status: #{@submission.status}"
				%tr
					%td= "Status updated time: #{@submission.updated_at.strftime("%a (%b %d)")} at #{@submission.updated_at.strftime("%l:%M %p")}"
				%tr
					%td
						- @submission.comments.each do |e|
							- if e.created_at != nil && e.user != nil
								= "#{e.user.email.slice(0...(current_user.email.index('@')))} [#{e.created_at.strftime("%a (%b %d)")} at #{e.created_at.strftime("%l:%M %p")}]: #{e.content}"
							%br

.container
	.col-md-5
		- if cannot? :edit, Assignment
			-if can? :edit, Submission
				- unless @submission.status == "Reviewing" || @submission.status == "Completed"
					=button_to "Edit", edit_submission_path(@submission), method: :get

.container
	.col-md-5
		- if can? :edit, Assignment
			= form_for @submission do |s|
				= s.select :status, status_type.each {|a| a.humanize}
				= s.submit "Edit submission status"
				%br
				%br
				%br

.container
	.col-md-5
		= form_for @new_comment do |c|
			= c.hidden_field :commentable_id, value: @new_comment.commentable_id
			= c.hidden_field :commentable_type, value: @new_comment.commentable_type
			= c.hidden_field :user_id, value: current_user.id
			= c.text_area :content
			%br
			= c.submit "Leave a comment"
			%br
			%br

					







