%h2 Enroll!

= form_for @enrollment do |f|
	= f.hidden_field :user_id, value: current_user.id
	%br
	= f.label "Select your cohort"
	= f.select :cohort_id, Cohort.all.collect {|c| [(c.name + " in " + Location.find(c.location_id).city + ", " + Location.find(c.location_id).state), c.id]}
	%br
	- if current_user.role == "admin"
		= f.label "Will this be your main cohort?"
		= f.select :main, ([['Yes', true], ['No', false]])
	- else
		%br
		= f.hidden_field :main, value: true
	%br
		= f.submit