-if can? :create, Assignment
	%h2 Enroll!

	= form_for @enrollment do |f|
		= f.hidden_field :user_id, value: current_user.id
		%br
		= f.label "Select your cohort"
		= f.select :cohort_id, Cohort.all.collect {|c| [(c.name + " in " + Location.find(c.location_id).city + ", " + Location.find(c.location_id).state), c.id]}
		%br
		= f.label "Will this be your main cohort (type true or false)?"
		= f.select :main, ([['Yes', true], ['No', false]])
		%br
		= f.submit

- if cannot? :create, Assignment
	%h2 Enroll!

	= form_for @enrollment do |f|
		= f.hidden_field :user_id, value: current_user.id
		%br
		= f.label "Select your cohort"
		= f.select :cohort_id, Cohort.all.collect {|c| [(c.name + " in " + Location.find(c.location_id).city), c.id]}
		%br
		= f.hidden_field :main, value: true
		%br
		= f.submit